.todos-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
.search-todo-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.filter-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px 0;
}
.filter-btn {
  padding: 1px 6px;
  cursor: pointer;
}
